<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.vatebra.eirsagentpoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.businesses.BusinessActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".business.addeditbusinesses.AddEditBusinessActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".business.businessdetail.BusinessDetailActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.individuals.IndividualsActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.individuals.IndividualDetailActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.companies.CompanyDetailActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.companies.CompaniesActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.individuals.AddEditIndividualActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".taxpayers.companies.AddEditCompanyActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity android:name=".taxpayers.buildings.BuildingsActivity" />
        <activity android:name=".taxpayers.buildings.BuildingDetailsActivity" />
        <activity android:name=".taxpayers.buildings.AddEditBuidingActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".taxpayers.ProfilingActivity" />
        <activity android:name=".payment.TaxPayerActivity"></activity>
    </application>

</manifest>